* {
    background-color: #F4F7F6;
}

header {
    font-size: 30px;
}

.col-4 {
  height: 500px;
}

h2 {
    background-color: #ffffff;
    padding-left: 10px;
    padding-top: 10px;
}

section {
    padding: 40px;
    background-color: #ffffff;
    gap: 1px;
}