body {
    background-color: #F4F7F6;
}

header {
    font-size: large;
}

h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.m-2 {
    background-color: #d6ebe4;
}

footer {
    font-family: 'Times New Roman', Times, serif;
}

.btn-primary {
    background-color:rgb(160, 180, 114) !important;
}

.nav {
    background-color: #d6ebe4 !important;
}